Implement RFC5005 section 2

You knew this was coming, Aaron. :stuck_out_tongue:

[RFC5005 section 2](https://tools.ietf.org/html/rfc5005#section-2) covers "Complete Feeds", which I think should be pretty straightforward to handle in Gourmand.

I think all we need to change is in `Feed.update()`. If the feed contains the empty `<fh:complete/>` tag, then we should ensure that `self.article_set` contains exactly the GUIDs that are currently present in the feed. In particular, something like this would mostly cover it:

```python
self.article_set.exclude(gid__in=[article.gid for article in parsed_articles]).delete()
```

(Fixing the `# TODO handle updated article` bit as well would be a nice bonus.)

My reading of the Universal Feed Parser documentation is that using it to check for this element is a little tricky. First, I'm hoping this (untested!) function will correctly check for a tag's presence in a given namespace URL.

```python
def has_tag(obj, namespaces, target_ns, target_tag):
    for prefix, ns in namespaces.items():
        if ns != target_ns: continue
        field_name = "{}_{}".format(prefix, target_tag)
        if hasattr(obj, field_name): return True
    return False
```

If that works, then something like this should determine whether a feed document is "complete" in the sense that the RFC uses the term:

```python
has_tag(parsed_feed.feed, parsed_feed.namespaces, "http://purl.org/syndication/history/1.0", "complete")
```

At the moment, all of the feeds that Comic Rocket produces have the `<fh:complete/>` tag, so you can test with those. We could also write two feed documents and a test case that calls `create_from_feed` with one of them, then `update` with the other, and verifies that the resulting set of Articles is exactly the list from the second document.

We can talk about RFC5005 section 4, "Archived Feeds", later. :wink: